# Application
PORT=3000

# Database
DATABASE_URL="postgresql://postgres:postgres@db:5432/papelito?schema=public"

# JWT
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRES_IN=3600s

# Salesforce Mock
# Set to "true" to simulate Salesforce failures
SALESFORCE_FAIL=false
